# **KNN (K-Nearest Neighbors)**

## Metode K-Nearest Neighbors (KNN) dalam deteksi outlier

K-Nearest Neighbors (KNN) adalah algoritma berbasis jarak yang sering digunakan dalam klasifikasi, regresi, dan deteksi outlier. Dalam deteksi outlier, KNN mengukur kedekatan suatu titik data dengan tetangga terdekatnya. Jika suatu titik data memiliki jarak yang jauh dari sebagian besar titik lain, maka dapat dianggap sebagai outlier.

Metode K-Nearest Neighbors (KNN) dalam deteksi outlier bekerja dengan mengukur jarak antara setiap titik data dengan k tetangga terdekatnya, titik data yang memiliki jarak rata-rata yang signifikan lebih besar dibandingkan dengan mayoritas titik data lainnya diidentifikasi sebagai outlier. Pemilihan nilai k sangat krusial karena memengaruhi sensitivitas metode ini, di mana nilai k yang terlalu kecil dapat melewatkan outlier dan nilai yang terlalu besar dapat salah mengklasifikasikan kluster kecil sebagai outlier.


metode untuk mengukur jarak lurus (garis terpendek) antara dua titik dalam ruang Euclidean. Jarak Euclidean diberikan oleh rumus:

$d = \sqrt{(x_2 - x_1)^2 + (y_2 - y_1)^2}$

Konsep ini dapat diperluas ke dimensi yang lebih tinggi dengan menjumlahkan selisih kuadrat setiap koordinat sebelum diakarkan. Euclidean Distance sering digunakan dalam algoritma clustering, k-nearest neighbors (KNN) dll

# Berikut ini contoh nya:

In [12]:
%pip install pymysql
%pip install psycopg2

Requirement already satisfied: pymysql in /usr/local/lib/python3.11/dist-packages (1.1.1)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.11/dist-packages (2.9.10)

In [ ]:
# import psycopg2
# import pymysql
# import numpy as np
# import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
# from sklearn.neighbors import NearestNeighbors

# def get_pg_data():
#     conn = psycopg2.connect(
#         host="pg-e0bfcfb-syauqifuady76-9d72.k.aivencloud.com",
#         user="avnadmin",
#         password="AVNS_bnzkAQjTkJGyBzi_GB2",
#         database="defaultdb",
#         port=23675
#     )
#     cursor = conn.cursor()
#     cursor.execute("SELECT * FROM mad")
#     data = cursor.fetchall()
#     columns = [desc[0] for desc in cursor.description]
#     cursor.close()
#     conn.close()
#     return pd.DataFrame(data, columns=columns)

# def get_mysql_data():
#     conn = pymysql.connect(
#         host="mysql-1b41a3bb-ahmadsyauqifuady33-3378.f.aivencloud.com",
#         user="avnadmin",
#         password="AVNS_-Cfznxfa1-nPQJ9qmWT",
#         database="defaultdb",
#         port=10733
#     )
#     cursor = conn.cursor()
#     cursor.execute("SELECT * FROM ayam")
#     data = cursor.fetchall()
#     columns = [desc[0] for desc in cursor.description]
#     cursor.close()
#     conn.close()
#     return pd.DataFrame(data, columns=columns)

# # Ambil data dari kedua database
# df_postgresql = get_pg_data()
# df_mysql = get_mysql_data()

# # Gabungkan berdasarkan kolom 'id'
# df_merged = pd.merge(df_mysql, df_postgresql, on=["id", "class"], how="inner")

# # Ambil data fitur numerik
# feature_columns = ["petal_length", "petal_width", "sepal_length", "sepal_width"]
# data_values = df_merged[feature_columns].values

# # KNN Outlier Detection
# def knn_outlier_detection(data, k=5):
#     neigh = NearestNeighbors(n_neighbors=k)
#     neigh.fit(data)
#     distances, _ = neigh.kneighbors(data)
#     avg_distances = distances[:, -1]  # Ambil jarak k-terjauh sebagai skor
#     return avg_distances

# # Hitung K-NN distance
# df_merged["knn_distance"] = knn_outlier_detection(data_values, k=5)

# # Tentukan threshold sebagai nilai rata-rata + 2 standar deviasi
# threshold = df_merged["knn_distance"].mean() + 2 * df_merged["knn_distance"].std()
# df_merged["outlier_knn"] = df_merged["knn_distance"] > threshold

# # Cetak hasil
# df_result = df_merged[["id", "class", "petal_length", "petal_width", "sepal_length", "sepal_width", "knn_distance", "outlier_knn"]]
# print(df_result.to_string(index=False))
# num_outliers = df_merged["outlier_knn"].sum()
# print(f"\nJumlah outlier: {num_outliers}")

# # Cetak data outlier
# outliers = df_merged[df_merged["outlier_knn"]]
# print("\nData Outlier:")
# print(outliers.to_string(index=False))

# # Visualisasi outlier berdasarkan K-NN
# plt.figure(figsize=(8, 6))
# sns.scatterplot(
#     x=df_merged["sepal_length"], y=df_merged["sepal_width"],
#     hue=df_merged["outlier_knn"], palette={False: "blue", True: "red"}
# )
# plt.title("Outlier Detection (Sepal) - KNN")
# plt.show()

# plt.figure(figsize=(8, 6))
# sns.scatterplot(
#     x=df_merged["petal_length"], y=df_merged["petal_width"],
#     hue=df_merged["outlier_knn"], palette={False: "blue", True: "red"}
# )
# plt.title("Outlier Detection (Petal) - KNN")
# plt.show()

In [7]:
# import psycopg2
# import pymysql
# import numpy as np
# import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
# from sklearn.neighbors import LocalOutlierFactor

# # Fungsi untuk mengambil data dari PostgreSQL
# def get_pg_data():
#     conn = psycopg2.connect(
#         host="pg-e0bfcfb-syauqifuady76-9d72.k.aivencloud.com",
#         user="avnadmin",
#         password="AVNS_bnzkAQjTkJGyBzi_GB2",
#         database="defaultdb",
#         port=23675
#     )
#     cursor = conn.cursor()
#     cursor.execute("SELECT * FROM mad")  # Gantilah "mad" dengan nama tabel yang sesuai
#     data = cursor.fetchall()
#     columns = [desc[0] for desc in cursor.description]
#     cursor.close()
#     conn.close()
#     return pd.DataFrame(data, columns=columns)

# # Fungsi untuk mengambil data dari MySQL
# def get_mysql_data():
#     conn = pymysql.connect(
#         host="mysql-1b41a3bb-ahmadsyauqifuady33-3378.f.aivencloud.com",
#         user="avnadmin",
#         password="AVNS_-Cfznxfa1-nPQJ9qmWT",
#         database="defaultdb",
#         port=10733
#     )
#     cursor = conn.cursor()
#     cursor.execute("SELECT * FROM ayam")  # Gantilah "ayam" dengan nama tabel yang sesuai
#     data = cursor.fetchall()
#     columns = [desc[0] for desc in cursor.description]
#     cursor.close()
#     conn.close()
#     return pd.DataFrame(data, columns=columns)

# # Fungsi untuk mendeteksi dan memfilter outlier menggunakan LOF
# def detect_and_filter_outliers(df, n_neighbors=20, contamination=0.05):
#     """
#     Mendeteksi outlier menggunakan Local Outlier Factor (LOF).
#     Args:
#         df: DataFrame yang berisi data numerik.
#         n_neighbors: Jumlah tetangga yang dipertimbangkan dalam LOF.
#         contamination: Persentase data yang diperkirakan sebagai outlier.

#     Returns:
#         DataFrame yang berisi data tanpa outlier.
#     """
#     numeric_df = df.select_dtypes(include=[np.number])  # Hanya memilih kolom numerik

#     if numeric_df.empty:
#         print("DataFrame tidak memiliki kolom numerik untuk analisis outlier.")
#         return df

#     lof = LocalOutlierFactor(n_neighbors=n_neighbors, contamination=contamination)
#     outlier_labels = lof.fit_predict(numeric_df)

#     df["outlier"] = outlier_labels  # -1 untuk outlier, 1 untuk normal

#     outliers = df[df["outlier"] == -1]
#     filtered_df = df[df["outlier"] == 1].drop(columns=["outlier"])

#     print("Data Outlier:")
#     print(outliers)

#     print("\nData yang sudah difilter:")
#     print(filtered_df)

#     return filtered_df

# # Contoh Penggunaan
# df_pg = get_pg_data()
# df_mysql = get_mysql_data()

# print("\nAnalisis Outlier untuk Data PostgreSQL:")
# filtered_pg = detect_and_filter_outliers(df_pg)

# print("\nAnalisis Outlier untuk Data MySQL:")
# filtered_mysql = detect_and_filter_outliers(df_mysql)

Analisis Outlier untuk Data PostgreSQL:
Data Outlier:
      id           class  sepal_length  sepal_width  outlier
0      1     Iris-setosa           5.1          3.5       -1
1      3     Iris-setosa           4.7          3.2       -1
2      4     Iris-setosa           4.6          3.1       -1
3      5     Iris-setosa           5.0          3.6       -1
135  149  Iris-virginica           6.2          3.4       -1
136  150  Iris-virginica           5.9          3.0       -1
137  151             ???           5.8          1.0       -1
138    2     Iris-setosa          40.9         30.0       -1

Data yang sudah difilter:
     id            class  sepal_length  sepal_width
4     6      Iris-setosa           5.4          3.9
5     7      Iris-setosa           4.6          3.4
6     8      Iris-setosa           5.0          3.4
7     9      Iris-setosa           4.4          2.9
8    10      Iris-setosa           4.9          3.1
..   ..              ...           ...          ...
146  74  Iris-versicolor           6.5          2.3
147  75  Iris-versicolor           6.1          2.2
148  77  Iris-versicolor           6.2          2.2
149  80  Iris-versicolor           5.3          2.2
150  82  Iris-versicolor           5.2          2.2

[143 rows x 4 columns]

Analisis Outlier untuk Data MySQL:
Data Outlier:
      id           class  petal_length  petal_width  outlier
0      1     Iris-setosa           1.4          0.2       -1
1      2     Iris-setosa          14.0          2.0       -1
2      3     Iris-setosa           1.2          0.5       -1
3      4     Iris-setosa           1.5          0.2       -1
147  148  Iris-virginica           5.2          2.0       -1
148  149  Iris-virginica           5.4          2.3       -1
149  150  Iris-virginica           5.1          1.8       -1
150  151             ???           5.1          3.2       -1

Data yang sudah difilter:
      id           class  petal_length  petal_width
4      5     Iris-setosa           1.3          0.3
5      6     Iris-setosa           1.7          0.4
6      7     Iris-setosa           1.4          0.3
7      8     Iris-setosa           1.2          0.1
8      9     Iris-setosa           1.3          0.3
..   ...             ...           ...          ...
142  143  Iris-virginica           5.1          1.9
143  144  Iris-virginica           5.9          2.3
144  145  Iris-virginica           5.7          2.5
145  146  Iris-virginica           5.2          2.3
146  147  Iris-virginica           5.0          1.9

[143 rows x 4 columns]

In [13]:
import psycopg2
import pymysql
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.neighbors import LocalOutlierFactor

# Fungsi untuk mengambil data dari PostgreSQL
def get_pg_data():
    conn = psycopg2.connect(
        host="pg-e0bfcfb-syauqifuady76-9d72.k.aivencloud.com",
        user="avnadmin",
        password="AVNS_bnzkAQjTkJGyBzi_GB2",
        database="defaultdb",
        port=23675
    )
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM mad")  # Ganti dengan nama tabel yang sesuai
    data = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]
    cursor.close()
    conn.close()
    return pd.DataFrame(data, columns=columns)

# Fungsi untuk mengambil data dari MySQL
def get_mysql_data():
    conn = pymysql.connect(
        host="mysql-1b41a3bb-ahmadsyauqifuady33-3378.f.aivencloud.com",
        user="avnadmin",
        password="AVNS_-Cfznxfa1-nPQJ9qmWT",
        database="defaultdb",
        port=10733
    )
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM ayam")  # Ganti dengan nama tabel yang sesuai
    data = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]
    cursor.close()
    conn.close()
    return pd.DataFrame(data, columns=columns)

# Fungsi untuk mendeteksi dan memfilter outlier menggunakan LOF
def detect_and_filter_outliers(df, n_neighbors=20, contamination=0.05):
    """
    Mendeteksi outlier menggunakan Local Outlier Factor (LOF).
    Args:
        df: DataFrame yang berisi data numerik.
        n_neighbors: Jumlah tetangga yang dipertimbangkan dalam LOF.
        contamination: Persentase data yang diperkirakan sebagai outlier.

    Returns:
        DataFrame yang berisi data tanpa outlier.
    """
    numeric_df = df.select_dtypes(include=[np.number])  # Pilih hanya kolom numerik

    if numeric_df.empty:
        print("DataFrame tidak memiliki kolom numerik untuk analisis outlier.")
        return df

    lof = LocalOutlierFactor(n_neighbors=n_neighbors, contamination=contamination)
    outlier_labels = lof.fit_predict(numeric_df)

    df["outlier"] = outlier_labels  # -1 untuk outlier, 1 untuk data normal

    outliers = df[df["outlier"] == -1]
    filtered_df = df[df["outlier"] == 1].drop(columns=["outlier"])

    print("Data Outlier:")
    print(outliers)

    print("\nData yang sudah difilter:")
    print(filtered_df)

    return filtered_df

# Fungsi untuk menggabungkan data dari PostgreSQL dan MySQL
def merge_filtered_data(df_pg, df_mysql):
    """
    Menggabungkan dua DataFrame dari PostgreSQL dan MySQL setelah filtering outlier.

    Args:
        df_pg (DataFrame): Data dari PostgreSQL yang sudah difilter.
        df_mysql (DataFrame): Data dari MySQL yang sudah difilter.

    Returns:
        DataFrame yang sudah digabungkan.
    """
    # Pastikan kolom yang sama sebelum menggabungkan
    common_columns = list(set(df_pg.columns).intersection(set(df_mysql.columns)))

    df_pg = df_pg[common_columns]
    df_mysql = df_mysql[common_columns]

    # Menggabungkan data
    merged_df = pd.concat([df_pg, df_mysql], ignore_index=True)

    print("\nData Gabungan Setelah Filtering:")
    print(merged_df)

    return merged_df

# ðŸ”¹ Contoh Penggunaan
df_pg = get_pg_data()
df_mysql = get_mysql_data()

print("\nðŸ”Ž Analisis Outlier untuk Data PostgreSQL:")
filtered_pg = detect_and_filter_outliers(df_pg)

print("\nðŸ”Ž Analisis Outlier untuk Data MySQL:")
filtered_mysql = detect_and_filter_outliers(df_mysql)

# ðŸ”¹ Menggabungkan data yang sudah difilter
merged_data = merge_filtered_data(filtered_pg, filtered_mysql)

# ðŸ”¹ Simpan hasil ke file CSV (opsional)
merged_data.to_csv("merged_filtered_data.csv", index=False)

ðŸ”Ž Analisis Outlier untuk Data PostgreSQL:
Data Outlier:
      id           class  sepal_length  sepal_width  outlier
0      1     Iris-setosa           5.1          3.5       -1
1      3     Iris-setosa           4.7          3.2       -1
2      4     Iris-setosa           4.6          3.1       -1
3      5     Iris-setosa           5.0          3.6       -1
135  149  Iris-virginica           6.2          3.4       -1
136  150  Iris-virginica           5.9          3.0       -1
137  151             ???           5.8          1.0       -1
138    2     Iris-setosa          40.9         30.0       -1

Data yang sudah difilter:
     id            class  sepal_length  sepal_width
4     6      Iris-setosa           5.4          3.9
5     7      Iris-setosa           4.6          3.4
6     8      Iris-setosa           5.0          3.4
7     9      Iris-setosa           4.4          2.9
8    10      Iris-setosa           4.9          3.1
..   ..              ...           ...          ...
146  74  Iris-versicolor           6.5          2.3
147  75  Iris-versicolor           6.1          2.2
148  77  Iris-versicolor           6.2          2.2
149  80  Iris-versicolor           5.3          2.2
150  82  Iris-versicolor           5.2          2.2

[143 rows x 4 columns]

ðŸ”Ž Analisis Outlier untuk Data MySQL:
Data Outlier:
      id           class  petal_length  petal_width  outlier
0      1     Iris-setosa           1.4          0.2       -1
1      2     Iris-setosa          14.0          2.0       -1
2      3     Iris-setosa           1.2          0.5       -1
3      4     Iris-setosa           1.5          0.2       -1
147  148  Iris-virginica           5.2          2.0       -1
148  149  Iris-virginica           5.4          2.3       -1
149  150  Iris-virginica           5.1          1.8       -1
150  151             ???           5.1          3.2       -1

Data yang sudah difilter:
      id           class  petal_length  petal_width
4      5     Iris-setosa           1.3          0.3
5      6     Iris-setosa           1.7          0.4
6      7     Iris-setosa           1.4          0.3
7      8     Iris-setosa           1.2          0.1
8      9     Iris-setosa           1.3          0.3
..   ...             ...           ...          ...
142  143  Iris-virginica           5.1          1.9
143  144  Iris-virginica           5.9          2.3
144  145  Iris-virginica           5.7          2.5
145  146  Iris-virginica           5.2          2.3
146  147  Iris-virginica           5.0          1.9

[143 rows x 4 columns]

Data Gabungan Setelah Filtering:
              class   id
0       Iris-setosa    6
1       Iris-setosa    7
2       Iris-setosa    8
3       Iris-setosa    9
4       Iris-setosa   10
..              ...  ...
281  Iris-virginica  143
282  Iris-virginica  144
283  Iris-virginica  145
284  Iris-virginica  146
285  Iris-virginica  147

[286 rows x 2 columns]